<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/PacMan" version="1.0.3" viewmodes="maximized">
    <tizen:application id="xfGqxgPxPZ.PacMan" package="xfGqxgPxPZ" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.320.320"/>
    <icon src="icon.png"/>
    <name>PacMan</name>
    <tizen:setting hwkey-event="enable"/>
</widget>
